<app-title [title]="'Defer Views'" />

<section class="grid- grid-cols-1">
  <!-- First component -->
  @defer () {
  <app-heavy-loaders-slow cssClass="bg-blue-500" />
  } @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse text-center"
  >
    Loading...
  </p>
  }

  <!-- Second component -->
  @defer (on viewport) {
  <!-- 'on viewport' It will cause the component not to load until it is inside the view -->
  <app-heavy-loaders-slow cssClass="bg-green-500" />
  } @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse text-center"
  >
    Loading...
  </p>
  }

  <!-- Third component -->
  @defer (on viewport) {
  <app-heavy-loaders-slow cssClass="bg-purple-500" />
  } @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse text-center"
  >
    Loading...
  </p>
  }
</section>
